
.navbar{
    display: flex;
    /* top: 0; */
    

}
.navbar-brand img{
    height: 100px;
    width: 100px;
}
.container-fluid{
    /* background-color:linear-gradient(to right, white, #ad901c); */
    /* background-color: aqua; */
    
/* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,22,182,1) 35%, rgba(0,212,255,1) 100%); */
/* background: rgb(250,250,255);
background: linear-gradient(90deg, rgba(250,250,255,1) 0%, rgba(173,144,28,1) 100%, rgba(182,156,54,1) 100%, rgba(0,212,255,1) 100%); */
position: fixed;
top: 0;
width: 100%;
background: rgb(250,250,255);
background: linear-gradient(90deg, rgba(250,250,255,1) 0%, rgba(255,255,255,1) 11%, rgba(173,144,28,1) 100%, rgba(182,156,54,1) 100%, rgba(0,212,255,1) 100%);
}
.navbar-nav{
    
}

.hero{
margin-top:150px;
padding-bottom: 50px;
/* justify-content: center; */
/* background: rgb(249,246,246);
background: linear-gradient(90deg, rgba(249,246,246,1) 0%, rgba(173,144,28,1) 38%, rgba(21,19,107,1) 65%, rgba(3,3,3,1) 100%); */

}
.hero_message{
  justify-content: center;
  margin-left: 300px;
  
}
.hero_message h6{
  font-size: 18px;
}

.hero_img{
  margin-left: 50px;
 

}
.hero_img img{
  /* height: 300px; */
  /* padding-top:0px; */
}

.btn{

  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.btn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
  
}

.btn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


.footer{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,22,182,1) 35%, rgba(0,212,255,1) 100%); 
  text-decoration: none;
  /* color: #fff; */
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 5px;


}

.footer a{
  text-decoration: none;
  color: #fff;
  font-size:18px;
}


.about-card{
  margin-top: 150px;
  text-align: center;
  tra

}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
/* body {
  background-color:  #151719;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}